.footer{
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}
.footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer ul li{
    margin: 0 1em;
    font-size: 1.5em  ;
}

.footer ul li:hover{
    color: #FFBB33;
    cursor: pointer;
}

.footer p {
    margin-top: 2em;
}
.footer p span{
    font-weight: bold;
    color:  #ffbb33;
}