.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Corrigido de 'end' para 'space-between' */
    align-items: center;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a,
.item span {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.item a:hover,
.item span:hover {
    color: #FFBB33;
}